

<nav class="navbar navbar-expand-lg">
  <div class="container">
    <div class="" id="navbarNav">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link" routerLink="">Home</a>
        </li>
        <li class="nav-item" *ngIf="isAdmin()">
          <a class="nav-link" routerLink="form" >Add Movie</a>
        </li>
        <li class="nav-item" *ngIf="isLogginIn()"> 
          <button class="btn btn-outline-secondary m-0" (click)="logout()">Logout</button>
        </li>
        <li class="nav-item" *ngIf="!isLogginIn()">
          <a class="nav-link text-decoration-none " routerLink="auth">{{ isLogginIn()? "Logout": "Authenticate"}}</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link text-decoration-none" routerLink="add" *ngIf="isLogginIn()">Add Customer</a>
        </li>
        <li class="nav-item" *ngIf="isLogginIn()"> 
          <button class="btn btn-outline-secondary m-0" (click)="logout()">Logout</button>
        </li>
        <li class="nav-item" *ngIf="!isLogginIn()">
          <a class="nav-link text-decoration-none " routerLink="login">{{ isLogginIn()? "Logout": "Login"}}</a>
        </li> -->
      </ul>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>